<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2016-2017 Onegini B.V.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.onegini.mobile.exampleapp">

    <uses-permission android:name="org.fidoalliance.uaf.permissions.FIDO_CLIENT"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".view.activity.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.activity.RegistrationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="oneginiexample"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.PinActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.FingerprintActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.MobileAuthenticationFingerprintActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.FidoActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.activity.CustomAuthActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"/>
        <activity
            android:name=".view.activity.DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.SettingsAuthenticatorsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.activity.SettingsActivity"/>
        <activity
            android:name=".view.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".view.activity.DashboardActivity"/>
        <activity
            android:name=".view.activity.MobileAuthenticationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.MobileAuthenticationPinActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.MobileAuthenticationFidoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.DevicesListActivity"
            android:parentActivityName=".view.activity.DashboardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.SimpleAuthenticatorRegistrationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.SimpleAuthenticatorDeregistrationActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <service
            android:name=".network.fcm.FCMListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".network.fcm.FCMInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>